.wrapper {
  font-size: .5px;
  height: 100%;
  display: flex;
  align-items: center;
}

.InitialMindball {
  position: relative;
  height: 1139em;
  width: 104em;
  margin: 0 auto;
  padding: 12em;
  background-color: #303030;
  border: 4em solid #E25244;
  border-radius: 50%/50em;
  display: inherit;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.line {
  position: absolute;
  z-index: 0;
  height: 97%;
  width: 2em;
  background-color: #E25244;
}

.bigRound {
  width: 80em;
  height: 80em;
  background-color: #303030;
  border: 4em solid #E25244;
  border-radius: 100%;
  z-index: 1;
}

.smallRound {
  width: 46em;
  height: 46em;
  background-color: #303030;
  border: 4em solid #E25244;
  border-radius: 100%;
  z-index: 1;
}

.ball {
  position: absolute;
  z-index: 2;
  top: 29em;
  left: 24em;
  width: 46em;
  height: 46em;
  background-color: #fff;
  border-radius: 100%;
}