.Button {
  margin: 0 auto;
  width: 12rem;
  height: 3.4rem;
  border: .125rem solid #E25244;
  border-radius: 1.7rem 0 1.7rem 1.7rem / 50% 0 50% 50%;
  color: #fff;
  font: 500 1.25rem/1 'Prompt', sans-serif;
  letter-spacing: 0.11rem;
  display: inherit;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  transition: all 0.2s linear;
  cursor: pointer;
  z-index: 1;
}

.Button_Story {
  composes: Button;
  margin-top: 1.6rem;
  min-height: 3.4rem;
}

.Button:hover {
  background-color: #E25244;
  transition: all 0.2s linear;
}

@media screen and (min-width: 988px) {

  .Button_Events {
    composes: Button_Story;
    margin-left: 0;
  }
  
}

@media screen and (min-width: 1981px) {

  .Button {
    margin-top: 1.3rem;
  }
  
}