.Menu {
  display: inherit;
  flex-direction: inherit;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 6;
  opacity: 1;
  transition: opacity 0.5s linear;
}

.list {
  text-align: center;
}

.listItem {
  color:  #fff;
  margin: 1.6rem 0;
  font: 700 4rem/1 'Prompt', sans-serif;
  cursor: pointer;
}

.listItem:hover {
  color: #E25244;
}

.followUsWrapper {
  display: inherit;
  justify-content: space-between;
  align-items: center;
  width: 20rem;
}

.followUs {
  color: #fff;
  font: 400 1.6rem/1 'Prompt', sans-serif;
}

.line {
  height: .175rem;
  background-color: #fff;
  flex-grow: .65;
}

.sn {
  height: 2rem;
  display: inherit;
  justify-content: space-between;
  align-content: center;
  flex-grow: .1;
}

.sn a {
  height: 100%;
}

.sn a img {
  height: 100%;
}

.fb {}

.yt {
  /* border-radius: .7rem;
  overflow: hidden; */
}

@media screen and (min-width: 988px) {

  .listItem {
    font-size: 3rem;
  }

  .followUsWrapper {
    width: 24rem;
  }

  .followUs {
    font-size: 1.2rem;
  }

  .line {
    flex-grow: .7;
  }

  .sn {
    height: 1.5rem;
    flex-grow: .07;
  }

  .yt {
    /*border-radius: .45rem;*/
  }
  
}