.Menu {
  display: inherit;
  flex-direction: inherit;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 6;
  opacity: 1;
  transition: opacity 0.5s linear;
}

.list {
  text-align: center;
}

.list_item {
  color:  #fff;
  margin: 1.6rem 0;
  font: 700 4rem/1 'Prompt', sans-serif;
  cursor: pointer;
}

.list_item:hover {
  color: #E25244;
}

@media screen and (min-width: 988px) {

  .BgText {}

  .inner {}
  
}