.Events {
  height: 100%;
  z-index: 0;
  display: inherit;
  flex-direction: inherit;
  align-items: center;
  justify-content: center;
  /* display: inherit;
  flex-direction: inherit;
  align-content: inherit; */
  /*opacity: 0;
  transition: opacity 0.5s linear;*/
  position: relative;
  outline: none;
}

.titleMobile {
  position: absolute;
  top: 10rem;
  color: rgba(169, 169, 169, 0.3);
  font: 700 2.1rem/1 'Prompt', sans-serif;
  letter-spacing: 0.09em;
  margin: 0;
}

.listWrapper {
  /* height: 50%;
  width: 41%; */
  height: 26.25rem;
  width: 29rem;
  overflow: hidden;
  position: absolute;
  transition: opacity 0.25s linear;
}

.list {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  transition: all .2s cubic-bezier(.78, .03, .18, .99);
  /*transition: all 0.6s cubic-bezier(.78, .03, .18, .99);*/
}

.listItem {
  width: 100%;
  /*height: 60px;*/
  /*height: 3.75rem;*/
  margin: 0;
  display: flex;
  align-items: center;
}

.listItem_selected {
  composes: listItem;
  cursor: pointer;
}

.text {
  color: #fff;
  font: 600 2.5rem/1 'Prompt', sans-serif;
  margin: 0 1.5rem 0 0;
  cursor: pointer;
  text-align: center;
  width: 100%;
}

.listItem_selected .text {
  color: #E25244; /*  Temporary  */
}

.line,
.arrow {
  display: none;
}

.line {
  /*height: 2px;*/
  height: .125rem;
  background-color: rgba(169,169,169,0.3);
  flex-grow: 1;
}

.arrow {
  /* height: 35px;
  width: 35px; */
  height: 2.19rem;
  width: 2.19rem; 
  background: url('img/Fullinfo_White.svg') center no-repeat;
  margin-left: 1.5rem;
}

@media screen and (min-width: 988px) {

  .titleMobile {
    display: none;
  }

  .listWrapper {
    width: 41rem;
  }

  .text {
    color: rgba(169,169,169,0.3);
    width: unset;
  }

  .listItem_selected .text {
    color: #fff;
  }

  .listItem_selected .line,
  .listItem_selected .arrow {
    display: block;
  }
  
}