body {
  /*background-color: gray;*/
  background-color: #ccc;
}

.wrapper {
  width: 30%;
  margin: 0 auto;
}

.images {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

img {
  display: flex;
  /*height: initial;*/
}