.OpenEvent {
  position: absolute;
  height: 100%;
  z-index: 6;
  display: inherit;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  opacity: 1;
  transition: opacity 0.25s linear;
  z-index: 0;
}

/* .wrapper {
  height: 60%;
  width: 100%;
  display: inherit;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
} */

.gallery {
  position: relative;
  width: 32.4rem;
  height: 32.4rem;
  background: center / cover no-repeat;
  border-radius: 7%;
  overflow: hidden;
  margin-top: 11vh;
  -webkit-mask-image: radial-gradient(white, black); /*Handling overflow:hidden with border radius bug in Safari*/
}

:global(.slick-slider),
:global(.slick-list),
:global(.slick-track),
:global(.slick-slide),
:global(.slick-slide) > div {
  height: 100%;
}

:global(.slick-slide) > div > div {
  outline: none;
}

:global(.slick-current) {
  z-index: 1;
}

.sliderImg {
  height: 32.4rem;
}

.article {
  position: relative;
  width: 32.4rem;
  display: inherit;
  flex-direction: column;
  justify-content: center;
  color: #fff;
  margin-top: 2vh;
}

.title,
.text  {
  margin: 1rem 0;
}

.title {
  font: 700 2.8rem/1.2 'Prompt', sans-serif;
  letter-spacing: 0.03em;
  text-align: center;
}

.text {
  font: 300 1.2rem/1.2 'Prompt', sans-serif;
  letter-spacing: 0.02em;
  text-align: justify;
}

.vidWrapper {
  height: 100%;
  display: flex;
  align-items: center;
  outline: none;
  background-color: rgba(0, 0, 0, .75);
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent none center / contain no-repeat;
}

.play {
  width: 5rem;
  height: 5rem;
  cursor: pointer;
  transition: all 0.1s linear;
}

.play:hover {
  transform: scale(1.1);
}

.video {
  margin-top: calc(50% - ((100% / 16 * 9) / 2));
}

@media screen and (min-width: 988px) {

  .OpenEvent {
    flex-direction: row;
    justify-content: center;
  }

  .gallery {
    margin-top: 0;
  }

  .article {
    width: 28rem;
    height: 32.4rem;
    margin-left: 3.8rem;
    margin-top: -0.7rem;
  }

  .title,
  .text {
    text-align: left;
    margin: 0 0 .5rem;
  }

  .title {
    font-size: 4.5rem;
  }
  
}

@media screen and (min-width: 988px) and (max-width: 1280px) {

  .OpenEvent {
    left: calc(10px + (115 - 10) * ((100vw - 989px) / (1280 - 989)));
  }
  
}