.OpenEvent {
  position: absolute;
  height: 100%;
  z-index: 6;
  display: inherit;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  opacity: 1;
  transition: opacity 0.25s linear;
  z-index: 0;
}

.gallery {
  position: relative;
  width: 32.4rem;
  height: 32.4rem;
  /* display: inherit;
  justify-content: center; */
  background: center / cover no-repeat;
  border-radius: 7%;
  overflow: hidden;
  margin-top: 11vh;

  /*Handling overflow:hidden with border radius bug in Safari*/

  -webkit-mask-image: radial-gradient(white, black);
  /*backface-visibility: hidden;
  transform: translate3d(0, 0, 0);*/
  /*-webkit-mask-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAIAAACQd1PeAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAA5JREFUeNpiYGBgAAgwAAAEAAGbA+oJAAAAAElFTkSuQmCC);*/
  /*-webkit-mask-box-image: url('mask.png');*/
}

:global(.slick-slider),
:global(.slick-list),
:global(.slick-track),
:global(.slick-slide),
:global(.slick-slide) > div {
  height: 100%;
}

:global(.slick-current) {
  z-index: 1;
}

.sliderImg {
  height: 32.4rem;
}

.article {
  position: relative;
  width: 32.4rem;
  display: inherit;
  flex-direction: column;
  /*justify-content: flex-start;*/
  justify-content: center;
  color: #fff;
  margin-top: 2vh;
}

.title,
.text  {
  margin: 1rem 0;
}

.title {
  font: 700 2.8rem/1.2 'Prompt', sans-serif;
  letter-spacing: 0.03em;
  /*font-kerning: none;*/
  text-align: center;
}

.text {
  font: 300 1.2rem/1.2 'Prompt', sans-serif;
  letter-spacing: 0.02em;
  text-align: justify;
}

.vidWrapper {
  height: 100%;
  display: flex;
  align-items: center;
  outline: none;
  /*background-color: rgba(35, 35, 35, 0.8);*/
  background-color: rgba(0, 0, 0, .75);
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent none center / contain no-repeat;
}

.play {
  width: 5rem;
  height: 5rem;
  cursor: pointer;
  transition: all 0.1s linear;
}

.play:hover {
  transform: scale(1.1);
}

.video {}

@media screen and (min-width: 988px) {

  .OpenEvent {
    flex-direction: row;
    justify-content: center;
  }

  .gallery {
    margin-top: 0;
  }

  .article {
    width: 28rem;
    height: 32.4rem;
    /*margin-left: 3.2rem;*/
    margin-left: 3.8rem;
    margin-top: -0.7rem;
  }

  .title,
  .text {
    text-align: left;
    margin: 0 0 .5rem;
  }

  .title {
    font-size: 4.5rem;
  }
  
}

/*.sliderImg {
   width: 32.4rem;
  max-width: 32.4rem;
  height: 32.4rem; 
}*/

/*:global(.slick-slide) { max-width: 100% }*/

/* .pager {
  position: absolute;
  bottom: 3rem;
  display: inherit;
  justify-content: space-around;
  z-index: 11;
}

.dot {
  width: 0.8rem;
  height: 0.8rem;
  background-color: #fff;
  cursor: pointer;
  border-radius: 50%;
  margin: 0.4rem;
  box-shadow: 1px 1px 2px #505050;
}

.dot_active {
  composes: dot;
  background-color: #E25244;
} */