html {
  height: 100%;
  box-sizing: border-box;
}

* {
  box-sizing: inherit;
}

body {
  height: 100%;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

:global(.container) {
  height: 100%;
}

.app {
  height: 100%;
  padding: 2.8%;
  background-color: #303030;
}

.wrapper {
  height: 100%;
  background-color: #303030;
  border: 3px solid #E25244;
  border-radius: 29px;
}

@media screen and (min-width: 988px) {
  
}

/* .images {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

img {
  display: flex;
} */