/*@font-face {}*/

html {
  height: 100%;
  box-sizing: border-box;
  /*font-size: 16px;*/
/*  font-size: calc(0.5em + 0.5vw);*/
  /*font-size: calc(8px + 0.8vw);*/
  font-size: 2.2vw;
}

* {
  box-sizing: inherit;
}

body {
  height: 100%;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

:global(.container) {
  height: 100%;
}

:global(._desk) {
  display: none;
}

:global(._mob) {
  display: block;
}

.App {
  height: 100%;
  padding: 6.8%;
  background-color: #303030;
  outline: none;
}

.wrapper {
  height: 100%;
  background-color: #303030;
  border: 2px solid #E25244; 
  /*border: .125rem solid #E25244;*/
  /*border-radius: 52px;*/
  border-radius: 1.6rem;
  display: flex;
  flex-direction: column;
  align-content: center;
  position: relative;
  overflow: hidden;
}

.innerContainer {
  display: inherit;
  flex-direction: inherit;
  align-content: inherit;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  transition: all 1s cubic-bezier(.78, .03, .18, .99);
/*  transition: top 0.8s cubic-bezier(.78, .03, .18, .99);*/
  opacity: 1;
  /*transition: opacity 0.5s linear;*/
  z-index: 3;
}

/* .Content {
  height: 100%;
  background-color: green;
} */

@media screen and (min-width: 988px) {

  html {
    /*font-size: 16px;*/
/*    font-size: calc(2vh + 3vw);*/
    font-size: calc(0.5em + 0.5vw);
  }

  :global(._desk) {
    display: block;
  }

  :global(._mob) {
    display: none;
  }

  .App {
    padding: 2.8%;
  }

  .wrapper {
    border-width: 3px;
    border-radius: 29px;
  }

  .innerContainer {
    height: 200%;
  }

  .bubbles {
    position: absolute;
    top: 5%;
    left: 3.1%;
    height: 90%;
    width: 90%;
    z-index: 1;
    background: center no-repeat url('img/bbg.png');
    background-size: 90%;
    opacity: .5;
    transition: opacity 0.3s cubic-bezier(.78, .03, .18, .99);
  }

}