/*@font-face {}*/

html {
  height: 100%;
  box-sizing: border-box;
}

* {
  box-sizing: inherit;
}

body {
  height: 100%;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

:global(.container) {
  height: 100%;
}

:global(._desk) {
  display: none;
}

:global(._mob) {
  display: block;
}

.App {
  height: 100%;
  padding: 6.8%;
  background-color: #303030;
}

.wrapper {
  height: 100%;
  background-color: #303030;
  border: 3px solid #E25244;
  border-radius: 52px;
  display: flex;
  flex-direction: column;
  align-content: center;
}

@media screen and (min-width: 988px) {

  :global(._desk) {
    display: block;
  }

  :global(._mob) {
    display: none;
  }

  .App {
    padding: 2.8%;
  }

  .wrapper {
    border-radius: 29px;
  }

}