@media screen and (min-width: 988px) {

  .Initial {
    position: relative;
    height: 100%;
    background-color: #303030;
    display: flex;
    flex-direction: column;
    align-content: center;
    background: url('http://localhost:8080/assets/img/Layer 3.png') center no-repeat / 90%;
  }

  .bubbles {
    position: absolute;
    top: 5%;
    left: 3.1%;
    height: 90%;
    width: 90%;
    z-index: 0;
    background: url('http://localhost:8080/assets/img/Ball background.png') center no-repeat / 90%;
    opacity: .5;
  }

}