@media screen and (min-width: 988px) {

  .Initial {
    position: relative;
    height: 100%;
    background-color: #303030;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    background-color: transparent;
    z-index: 3;
  }

  .invisibleButton {
    height: 3.4rem;
    visibility: hidden;
    margin: 1.3rem auto 0;
  }

}