.BgText {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: inherit;
  justify-content: center;
}

.mindball {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: transparent url('img/bgMindball.png') center / contain no-repeat;
  background-size: 90%;
  transition: all 0.4s;
  /*z-index: 0;*/
}

.inner {
  width: auto;
  height: auto;
  /*font: 800 26.5em/1 'Prompt', sans-serif;*/
  font: 800 25.1vw/1 'Prompt', sans-serif;
  letter-spacing: 0.02em;
  color: #333;
  display: inherit;
  align-self: center;
  transition: all 0.4s;
  z-index: 2;
}

@media screen and (min-width: 988px) {

  .BgText {}

  .inner {}
  
}