@media screen and (min-width: 988px) {

  .Bubbles {
    position: absolute;
    /*left: 3.1%;*/
  /*  left: 6.1%;*/
    /*left: 5%;*/
    /* top: 5%;
    left: 2%; */
    /*left: -26%;*/
    height: 200%;
    /*width: 90%;*/
    width: 100%;
    z-index: 1;
    opacity: .5;
    transition: opacity 0.3s cubic-bezier(.78, .03, .18, .99);
    transition: top 2.5s cubic-bezier(0.59, 0.04, 0.44, 1.05);
    display: inherit;
    flex-direction: inherit;
    align-content: inherit;
  }

  div[title^="Bubbles"] {
    /*height: 134% !important;
    width: 134% !important;
    margin-left: -10% !important;*/
    /* height: 147% !important;
    width: 142% !important; */
/*    margin-left: -24% !important;*/
    /*margin-left: -13% !important;*/
    transform: scale(1.2);
/*    margin-left: -26% !important;*/
/*    margin-left: -3% !important;*/
    margin-left: 3% !important;
    margin-top: -5% !important;
  }

  div[title="Bubbles1"] {
    margin-top: -1% !important;
    margin-left: 1% !important;
  }
  
}