@media screen and (min-width: 988px) {

  .Bubbles {
    position: absolute;
    height: 200%;
    /*width: 90%;*/
    width: 100%;
    z-index: 1;
    /*z-index: 2;*/
    opacity: .5;
    transition: opacity 0.3s cubic-bezier(.78, .03, .18, .99);
    transition: top 2.5s cubic-bezier(0.59, 0.04, 0.44, 1.05);
    display: inherit;
    flex-direction: inherit;
    align-content: inherit;
  }

  div[title^="Bubbles"] {
    transform: scale(1.2);
/*    margin-left: -26% !important;*/
    margin-top: -5% !important;
    margin-left: 3% !important;
    display: block;
    width: 100%;
    height: auto !important;
    position: relative;
    /*padding-top: 100%;*/
    /*padding-top: 63%;*/
    /*padding-top: 71%;*/
    padding-top: 50%;
  }

  div[title^="Bubbles"] svg {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0; 
  }

  div[title="Bubbles1"] {
    margin-top: -1% !important;
    margin-left: 1% !important;
    padding-top: 59%;
  }
  
}

@media screen and (min-width: 1651px) and (max-width: 1920px) {

  div[title="Bubbles1"] {
    padding-top: 55%;
  }

}


@media screen and (min-width: 1921px) {

  div[title^="Bubbles"] {
    padding-top: 53%;
  }

}
