/* Icons */
/* @font-face {
  font-family: 'slick';
  font-weight: normal;
  font-style: normal;

  src: url('./slick.woff');
} */
/* Dots */
.slick-dotted.slick-slider {
  /*margin-bottom: 30px;*/
}

.slick-dots {
  position: absolute;
  /*bottom: -25px;*/
/*  bottom: 25px;*/
  bottom: 2.5rem;

  display: block;

  width: 100%;
  padding: 0;
  margin: 0;

  list-style: none;

  text-align: center;
}
.slick-dots li {
  position: relative;

  display: inline-block;

  width: 2.5rem;
  height: 2.5rem;
  margin: 0 1.1rem;
  padding: 0;

  cursor: pointer;
}
.slick-dots li button {
  font-size: 0;
  line-height: 0;

  display: block;

  width: 2.5rem;
  height: 2.5rem;
  padding: 5px;

  cursor: pointer;

  color: transparent;
  border: 0;
  outline: none;
  background: transparent;
}
.slick-dots li button:hover,
.slick-dots li button:focus {
  outline: none;
}
.slick-dots li button:hover:before,
.slick-dots li button:focus:before {
  opacity: 1;
}
.slick-dots li button:before {
  /*font-family: 'slick';*/
  font-size: 5.5rem;
  /* font-size: 13px;
  line-height: 20px;
  line-height: 1rem; */

  position: absolute;
  top: 0;
  left: 0;

  /* width: 0.8rem;
  height: 0.8rem;
  border-radius: 50%;
  box-shadow: 1px 1px 2px #505050; */

  content: '•';
  text-align: center;

  /*opacity: .25;*/
  color: #ECEBEB;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.slick-dots li.slick-active button:before {
  /*opacity: .75;*/
  color: #E25244;
}
