@media screen and (min-width: 988px) {
  .Mindball {
    /*composes: _desk from global;*/
    /*font-size: .5px;*/
    /*font-size: .05rem;*/
    font-size: .03rem;
    /*height: 85%;*/
    /*height: 1139em;*/
    height: 35.6rem;
    /*h34.2rem*/
    display: inherit;
    align-items: center;
    z-index: 1;
  }

  .Mindball_events {
    composes: Mindball;
    /*align-self: flex-end;*/
    position: absolute;
    right: 2.7rem;
/*    font-size: 0.01875rem;*/
    /*font-size: 0.0181rem; Defined in the App component*/
  }

  .inner,
  .yearsWrapper {
    height: 1139em;
    /*background-color: #303030;*/
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  .yearsWrapper {
    display: none;
    padding: 8em 0;
  }

  .Mindball_events .yearsWrapper {
    display: inherit;
  }

  .year {
    font: 600 1rem/1 'Prompt', sans-serif;
    /*margin-right: 1rem;*/
    margin: 0 2.4rem 0;
  }

  .inner {
    display: inherit;
    position: relative;
    width: 104em;
    margin: 0 auto;
    padding: 8em;
    /*padding: 12em;*/
    border: 4em solid #E25244;
    border-radius: 50%/52em;
  }

  .Mindball_events .inner,
  .yearsWrapper {
    height: 1900em;
  }

  .Mindball_events .inner {
    width: 80em;
    border-radius: 50%/40em;
  }

  .line {
    position: absolute;
    z-index: 0;
    height: 97%;
    min-width: 1px;
    width: 2em;
    background-color: #E25244;
  }

  .roundUtmost,
  .roundInBetween {
    background-color: #303030;
    border: 4em solid #E25244;
    border-radius: 100%;
    z-index: 1;
  }

  .Mindball_events .roundUtmost,
  .Mindball_events .roundInBetween {
    width: 60em;
    height: 60em;
  }

  .roundUtmost {
    width: 80em;
    height: 80em;
  }

  .Mindball_events .roundUtmost:last-child {
    display: none;
  }

  .roundInBetween {
    width: 46em;
    height: 46em;
  }

  .ball {
    position: absolute;
    z-index: 2;
    top: 29em;
    /*left: 25em;*/
    /*left: 27em;*/
    width: 47em;
    height: 47em;
    background-color: #fff;
    border-radius: 100%;
    box-shadow: inset 0px 0px 2px 0px #303030;
  }

  .Mindball_events .ball {
    left: 18em;
    width: 38em;
    height: 38em;
    transition: top 0.5s cubic-bezier(.78, .03, .18, .99);
  }

}