.Mindball {
  /*height: 3rem;*/
  width: 34.6rem;
  display: none;
  flex-direction: column;
  align-items: center;
/*  z-index: 1;*/
  z-index: 11;
}

.Mindball_events {
  composes: Mindball;
  position: absolute;
  bottom: 3rem;
  display: inherit;
}

.inner,
.yearsWrapper {
  display: inherit;
  flex-direction: row;
  justify-content: flex-start;
  /*justify-content: space-between;*/
  align-items: center;
  width: 1900em;
}

.yearsWrapper {
  padding: 0 8em;
}

.year {
  font: 600 1rem/1 'Prompt', sans-serif;
  margin: 0 0 1.2rem;
  color: rgba(169,169,169,0.3);
  cursor: pointer;
}

.year_active {
  composes: year;
  color: #E25244;
}

.inner {
  display: inherit;
  position: relative;
  height: 104em;
  margin: auto 0;
  padding: 8em;
  border: 4em solid #E25244;
  border-radius: 52em/50%;
  height: 80em;
}

.line {
  position: absolute;
  z-index: 0;
  width: 97%;
  min-width: 1px;
  min-height: 1px;
  height: 4em;
  background-color: #E25244;
}

.roundUtmost,
.roundInBetween {
  background-color: #303030;
  border: 4em solid #E25244;
  border-radius: 100%;
  z-index: 1;
  width: 60em;
  height: 60em;
  cursor: pointer;
}

.Mindball_events .roundUtmost:last-child {
  display: none;
}

.ball {
  position: absolute;
  z-index: 2;
  /*left: 29em;*/
  width: 47em;
  height: 47em;
  background-color: #E25244;
  border-radius: 100%;
  box-shadow: inset 0px 0px 2px 0px #303030;
  top: 18em;
}

.Mindball_events .ball {
  width: 38em;
  height: 38em;
  transition: all .8s cubic-bezier(.78, .03, .18, .99);
}



@media screen and (min-width: 988px) {

  .Mindball {
    /*composes: _desk from global;*/
    /*font-size: .5px;*/
    /*font-size: .05rem;*/
    font-size: .03rem;
    /*height: 85%;*/
    /*height: 1139em;*/
    height: 35.6rem;
    /*h34.2rem*/
    display: inherit;
    width: unset;
    bottom: unset;
    flex-direction: row;
  }

  .Mindball_events {
    composes: Mindball;
    right: 2.7rem;
/*    font-size: 0.01875rem;*/
    /*font-size: 0.0181rem; Defined in the App component*/
  }

  .inner,
  .yearsWrapper {
    height: 1139em;
    width: unset;
    flex-direction: column;
    justify-content: space-between;
  }

  .yearsWrapper {
    display: none;
    padding: 8em 0;
  }

  .Mindball_events .yearsWrapper {
    display: inherit;
  }

  .year {
    margin: 0 2.4rem 0;
  }

  .year_active {
    color: #fff;
  }

  .inner {
    width: 104em;
    margin: 0 auto;
    border-radius: 50%/52em;
  }

  .Mindball_events .inner,
  .yearsWrapper {
    height: 1900em;
  }

  .Mindball_events .inner {
    width: 80em;
    border-radius: 50%/40em;
  }

  .line {
    width: unset;
    height: 97%;
  }

  .Mindball_events .roundUtmost,
  .Mindball_events .roundInBetween {
    width: 60em;
    height: 60em;
  }

  .roundUtmost {
    width: 80em;
    height: 80em;
  }

  .roundInBetween {
    width: 46em;
    height: 46em;
  }

  .ball {
    top: 29em;
    background-color: #fff;
  }

  .Mindball_events .ball {
    left: 18em;
  }

}