header {
  height: 11.5%;
  display: inherit;
  justify-content: space-between;
  z-index: 7;
}

.logo {
  width: 49%;
  height: 100%;
  display: inherit;
  align-items: center;
  justify-content: center;
}

.logo img {
  width: 70%;
}

.title {
  display: none;
}

.sandwichWrapper {
  width: 22.7%;
  height: 87%;
  display: inherit;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.sandwich {
  width: 26%;
  height: 40%;
  background: center no-repeat url('img/Menu.svg');
  transition: all 0.3s linear;
}

.menu {
  composes: sandwich;
  background-image: url('img/Close.svg');
}

@media screen and (min-width: 988px) {

  header {
    height: 10%;
    margin-top: 1%;
  }

  .logo {
    width: 17.5%;
    /*background-size: 70% 73%;*/
  }

  .title {
    display: block;
    margin-right: 10.4%;
    color: #E25244;
    font: 600 1.54rem/1 'Prompt', sans-serif;
    letter-spacing: 0.2rem;
    opacity: 0;
    transition: opacity 0.8s linear;
  }

  .sandwichWrapper {
    width: 7%;
    position: relative;
  }

  .sandwich {
    width: 22%;
    position: absolute;
    right: 2.7rem;
  }
  
}