header {
  height: 11.5%;
  display: inherit;
  justify-content: space-between;
  z-index: 7;
}

.logo {
  width: 49%;
  height: 100%;
  background: center / 70% 49% no-repeat url('img/Logo.png');
}

.sandwich {
  width: 22.7%;
  height: 87%;
  display: flex;
  align-items: center;
  cursor: pointer;
  background: center / 26% no-repeat url('img/Menu.svg');
  transition: all 0.3s linear;
}

.menu {
  composes: sandwich;
  background-image: url('img/Close.svg');
}

@media screen and (min-width: 988px) {

  header {
    height: 10%;
    margin-top: 1%;
  }

  .logo {
    width: 17.5%;
    background-size: 70% 73%;
  }

  .title {
    margin-right: 10.4%;
    color: #E25244;
    font: 600 1.54rem/1 'Prompt', sans-serif;
    letter-spacing: 0.2rem;
    opacity: 0;
    transition: opacity 0.8s linear;
  }

  .sandwich {
    width: 7%;
    background-size: 22%;
  }
  
}